.title {
	font-weight: 700;
	font-size: 45px;
}

.rating_container {
	display: flex;
}
.rating {
	font-family: "Raleway", sans-serif;
	margin-top: 3px;
	margin-left: 5px;
}

.overview:hover {
	overflow-y: auto;
}
.overview {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 16px;
	height: 150px;
	overflow-y: hidden;
	margin-top: 10px;
}
